<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="app" >
            <header class="bg-sz-header position-relative "></header>
            <div class="container d-flex p-0" id="container-all">
                <!-- side-bar -->
                <div class="container-fluid bg-light p-0"  id="side-bar">
                    <div id="sidebar-top " class=" w-100 ">
                            <!-- TOPBAR -->
                        <div id="top-bar" class="p-2 ps-2 d-flex justify-content-between">
                            <div id="circlebox" class="rounded-5" style="width: 30px; height:30px;" :style="{'background-image': 'url( ' + contacts[0].avatar + ' )' } ">
                            </div>
                            <div>
                                <a href="" class="text-secondary me-2"><i class="fa-solid fa-circle-notch align-middle"></i></a>
                                <a href="" class="text-secondary me-2"><i class="fa-solid fa-message align-middle"></i></a>
                                <a href="" class="text-secondary me-2"><i class="fa-solid fa-ellipsis-vertical align-middle"></i></a>
                            </div>
                        </div>
                            <!-- SEARCHBAR -->
                        <div id="search-bar" class="p-1 d-flex border-bottom border-secondary-subtle">
                            <div class="input-group flex-nowrap" id="search-bar-input">
                                <span class="input-group-text " id="addon-wrapping"><i class="fa-solid fa-search" style="font-size: 10px;"></i></span>
                                <input type="text" class="form-control" placeholder="Cerca o inizia una nuova chat" aria-label="Username" aria-describedby="addon-wrapping" style="font-size: 1em;" v-model="filteredContact"  @input="filterContact()" >
                            </div>
                            <span class="ms-2"><svg viewBox="0 0 24 24" height="15" width="15" preserveAspectRatio="xMidYMid meet" class="" version="1.1" x="0px" y="0px" enable-background="new 0 0 24 24"><path fill="currentColor" d="M10,18.1h4v-2h-4V18.1z M3,6.1v2h18v-2H3z M6,13.1h12v-2H6V13.1z"></path></svg></span>
                        </div>
                    </div>

                            <!-- CONTACT -->
                    <div id="sidebar-bottom" class="w-100" v-for="(el,index) in filteredlist" >
                        <div  style="height: 60px" class="d-flex p-2 border-bottom conhover" @click="changeActiveContact(index)"> 
                            <div style="width: 40px; height: 40px; background-color: #e3e4e8;" class="rounded-5 overflow-hidden">
                                <img :src="el.avatar" alt="el.name" class="w-100">
                            </div>

                            <div class="d-flex justify-content-between w-100" >
                                <div class="d-flex flex-column ms-2">
                                    <div class="fw-semibold " style="font-size: 0.9rem;">{{el.name}}</div>
                                    <div style="font-size: 0.6em;">{{contacts[index].messages[ contacts[index].messages.length -1].message}}</div>
                                    
                                </div>

                                
                                <div style="font-size: 0.6em;">{{contacts[index].messages[ contacts[index].messages.length -1].date}}</div>

                            
                            </div>
                            
                            
                        </div>
                    </div> 
                            <!-- CONTACT -->
                        
                </div>
                <!-- main-content -->
                <div class="container-fluid h-100 p-0 d-none d-md-block ">
                    
                    <div id="main-content"  >
                        <div id="top-bar" class="p-2 ps-2 d-flex border-start border-secondary-subtle">
                            <div class="d-flex justify-content-between w-100">
                                <div class="d-flex">
                                    <div id="circlebox" class="rounded-5" style="width: 30px; height:30px;" :style="{'background-image': 'url( ' + contacts[activeContact].avatar + ' )' } ">
                                    </div>
                                    <div class="ms-2 d-flex flex-column">
                                        <span style="font-size: 0.8em;">{{contacts[activeContact].name}}</span>
                                        <span style="font-size: 0.6em;">ultimo accesso oggi alle {{contacts[activeContact].messages[ contacts[activeContact].messages.length -1].date}}</span>  
                                    </div>
                                </div>
                                
                                <div>
                                    <a href="" class="text-secondary me-3"><i class="fa-solid fa-search align-middle"></i></a>
                                    <a href="" class="text-secondary me-3"><i class="fa-solid fa-paperclip align-middle"></i></a>
                                    <a href="" class="text-secondary me-3"><i class="fa-solid fa-ellipsis-vertical align-middle"></i></a>
                                </div>
                            </div>
                       
                        
                       
                        
                        </div>
                            <!-- TEXTBAR -->
                        <div class="d-flex flex-column justify-content-end  h-100">
                                <!-- DINAMIC MESSAGE -->
                            

                            <div style="height: calc(100% - 50px);" class="overflow-y-auto">

                                <div v-for="(el,index) in contacts[activeContact].messages" class=" me-5 mb-1" style="margin-left: 2.1em; ;;" >
                                    <div :class="el.status" class="message">
                                        <div class="d-flex" >
                                            <div class="dropup order-1">
                                                <i   i class="fa-solid fa-chevron-down " style="cursor: pointer;" @click="openDropdown(index)" ></i>
                                                <ul class="dropdown-menu dropup" :class="{'show': messageIndex === index}">
                                                    <li><a class="dropdown-item">Rispondi</a></li>
                                                    <li><a class="dropdown-item" href="#" @click.prevent="deleteMessage(index)">Cancella messaggio</a></li>
                                                </ul>
                                            </div>  
                                            {{el.message}}
                                            <span class="metadata"><span class="time">{{el.date}}</span>
                                        </div>
                                        
                                    </div>
                                </div>

                            </div> 
                                
                            
                                












                            
                        
                            
                        
                            
                            

                            



                            <div style="height: 50px;" >
                                <div class="row m-0" style="background-color: #e1e1de; " >
                                    <span class="p-2 col-auto" ><i class="fa-regular fa-face-smile mt-2" style="font-size: 15px;"></i></span>
                                    <input @keyup.enter="NewMessage" v-model="newMessage" type="text" class=" border-0 col-11 rounded m-1" placeholder="scrivi un messaggio"  style="font-size: 1em;">
                                    <span class=" p-2 col-auto" id="addon-wrapping"><i class="fa-solid fa-microphone" style="font-size: 15px;"></i></span>
                                </div>
                            </div>
                                
                            
                            
                        </div>
                        
                    </div>
                    
                </div>
            </div>
       
    </div>
    


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/script.js" type="text/javascript"></script>
</body>
</html>